flujo/rpa-consulta-judicial.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        48
      ],
      "id": "434621d2-7625-40e3-b32c-006ad0455165",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "const log = {\n  timestamp: new Date().toISOString(),\n  step: \"Consulta Judicial\",\n  status: $json.error ? \"error\" : \"success\",\n  message: $json.error ? \"Falló la consulta\" : \"Consulta ejecutada\",\n  nombre: $json.nombre || \"NODO DE INICIO PROCESAMIENTO INICIAL DEL GMAIL Y TIGGER\",\n  error_stack: $json.error?.stack || null\n};\n\nreturn [{\n  json: { log }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -16
      ],
      "id": "8fef1a16-ef88-4a97-a182-11913e983499",
      "name": "logs1"
    },
    {
      "parameters": {
        "content": "## Inicio de procesamiento Automatización\n\n1. Inicia una con aplicación con **Schedule Trigger** o en su defecto, **When clicking ‘Execute workflow’** en caso de error.\n2. consulta la bandeja de entrada del **gmail**.\n3. Manejo de logs en este proceso, también guardados en Postgres.",
        "height": 1184,
        "width": 848
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -512,
        -592
      ],
      "id": "3a203c5f-ff09-4c8c-9404-85eb627fd594",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Procesamiento de la información con scraping y ejecutador navegadores Chrome\n\n1. Procesamiento ce scriping con javaScript\n2. Consulta de la página a través de ejecutar navegadores Chrome/Chromium.\n3. Extracción del documento con scraping, manejo de descarga y empaquetado para exportar. \n3. Manejo de logs en este proceso, también guardados en Postgres.",
        "height": 1184,
        "width": 2000,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        336,
        -592
      ],
      "id": "d1114214-aa69-43fa-bd01-eddd4eef5337",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# --------------------------------procesamiento  Automatizacion de Consulta Judicial - RPA----------------------------------------------\n",
        "height": 112,
        "width": 2256
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -832
      ],
      "id": "19fcf705-e620-4998-bcdc-6eb9759036cf",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "35 6 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        -240
      ],
      "id": "046dd512-ea11-4952-82d6-4646f004026d",
      "name": "Ejecución programada  6:35 AM de todos los diás"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO logs (timestamp, step, status, message)\nVALUES (\n  '{{$json.log.timestamp}}',\n  '{{$json.log.step}}',\n  '{{$json.log.status}}',\n  '{{$json.log.message}}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        192,
        -16
      ],
      "id": "f1482f93-40e5-4020-a8a4-afe0e40a7254",
      "name": "SQL guardar logs de Incio",
      "credentials": {
        "postgres": {
          "id": "aaW6G67VHp6GyFp5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "q": "subject:Consulta_nombre is:unread"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -208,
        -96
      ],
      "id": "86aae4b1-913d-4aff-8ec6-60e095b7e486",
      "name": "Captura del mensaje consulta_nombre",
      "webhookId": "174f1066-1566-4a91-90da-ea268ff01c1a",
      "credentials": {
        "gmailOAuth2": {
          "id": "9kk6YJLQskh8kToY",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "juanprueba0511@gmail.com",
        "subject": "error",
        "message": "fallo in the Trigger",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        208
      ],
      "id": "99c6da49-1335-4449-af0a-818ba290357d",
      "name": "Mensaje de ERROR: nodo extracción de nombre",
      "webhookId": "f6e0d288-c73e-41cd-bee0-7fba3f54af53",
      "credentials": {
        "gmailOAuth2": {
          "id": "9kk6YJLQskh8kToY",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * ============================================================\n * PROCESO: Consulta automatizada de procesos judiciales\n * ============================================================\n * \n * OBJETIVO:\n * Automatizar la consulta por nombre en el portal de la Rama Judicial\n * y capturar el resultado, priorizando la descarga DOC O EN SU DEFECTO en CSV directamente\n * en memoria sin necesidad de guardar archivos.\n * \n *  ENTRADA:\n * - nombre: String obtenido desde el input del flujo\n * \n * SALIDA:\n * - nombre_consultado\n * - filas_encontradas\n * - tipo de descarga (DOC | CSV)\n * - contenido CSV (si disponible)\n * - estado del proceso\n * \n * TECNOLOGÍA:\n * - Puppeteer (automatización de navegador)\n * ============================================================\n */\n\nconst nombre = $input.first().json.snippet;\n\nconst codigo = `\nmodule.exports = async ({ page }) => {\n\n  // ============================================================\n  // 1. NAVEGACIÓN AL PORTAL\n  // ============================================================\n  await page.goto(\n    'https://consultaprocesos.ramajudicial.gov.co/Procesos/NombreRazonSocial',\n    { waitUntil: 'networkidle2', timeout: 30000 }\n  );\n\n  // Espera a que cargue el grupo de opciones (radio buttons)\n  await page.waitForSelector('.v-input--radio-group', { timeout: 30000 });\n\n\n  // ============================================================\n  // 2. SELECCIÓN DE TIPO DE PERSONA\n  // ============================================================\n\n  // Selecciona el radio correspondiente (value=\"false\")\n  await page.evaluate(() => {\n    const radios = document.querySelectorAll('input[type=\"radio\"]');\n    for (const r of radios) {\n      if (r.getAttribute('value') === 'false') { \n        r.click(); \n        break; \n      }\n    }\n  });\n\n  // Abre el dropdown de tipo de persona\n  await page.evaluate(() => {\n    const inputs = document.querySelectorAll('input[readonly]');\n    if (inputs[0]) inputs[0].click();\n  });\n\n  // Selecciona \"Natural\" del menú desplegable\n  await page.waitForSelector('.v-menu__content', { visible: true, timeout: 10000 });\n  await page.evaluate(() => {\n    const items = document.querySelectorAll('.v-menu__content .v-list-item');\n    for (const item of items) {\n      if (item.textContent.includes('Natural')) { \n        item.click(); \n        break; \n      }\n    }\n  });\n\n\n  // ============================================================\n  // 3. INGRESO DEL NOMBRE A CONSULTAR\n  // ============================================================\n  const inputNombre = await page.waitForSelector(\n    'xpath///label[contains(text(),\"* Nombre(s) Apellido o Razón Social\")]/following::input[1]',\n    { timeout: 10000 }\n  );\n\n  await inputNombre.focus();\n\n  // Limpia el campo antes de escribir\n  await inputNombre.evaluate(el => el.value = '');\n\n  // Escribe el nombre recibido como entrada\n  await inputNombre.type('${nombre}');\n\n\n  // ============================================================\n  // 4. EJECUCIÓN DE LA CONSULTA\n  // ============================================================\n  await page.evaluate(() => {\n    const spans = document.querySelectorAll('button span');\n    for (const span of spans) {\n      if (span.textContent.trim() === 'Consultar') { \n        span.closest('button').click(); \n        break; \n      }\n    }\n  });\n\n  // Manejo opcional de pantalla intermedia con botón \"Volver\"\n  try {\n    await page.waitForSelector('button span', { timeout: 5000 });\n    await page.evaluate(() => {\n      const spans = document.querySelectorAll('button span');\n      for (const span of spans) {\n        if (span.textContent.trim() === 'Volver') { \n          span.closest('button').click(); \n          break; \n        }\n      }\n    });\n  } catch(e) {}\n\n\n  // ============================================================\n  // 5. PROCESAMIENTO DE RESULTADOS\n  // ============================================================\n  await page.waitForSelector('table tbody tr', { timeout: 30000 });\n\n  const resultado = await page.evaluate(() => {\n    const filas = document.querySelectorAll('table tbody tr');\n\n    // Validación de resultados mínimos\n    if (filas.length < 6) {\n      return { error: 'No hay suficientes filas', filas: filas.length };\n    }\n\n    // Selecciona el botón de la fila 6\n    const boton = filas[5].querySelector('td:nth-child(2) button');\n\n    if (boton) { \n      boton.click(); \n      return { ok: true, filas: filas.length }; \n    }\n\n    return { error: 'Botón no encontrado' };\n  });\n\n  // Si ocurre error, retornar inmediatamente\n  if (resultado.error) return { data: resultado };\n\n  await new Promise(r => setTimeout(r, 2000));\n\n\n  // ============================================================\n  // 6. INTERCEPCIÓN DE DESCARGA (CSV EN MEMORIA)\n  // ============================================================\n  let csvContenido = null;\n\n  await page.setRequestInterception(true);\n\n  // Permitir todas las solicitudes\n  page.on('request', req => req.continue());\n\n  // Capturar respuestas que contengan CSV\n  page.on('response', async response => {\n    const url = response.url();\n\n    if (\n      url.includes('csv') || \n      url.includes('CSV') || \n      url.includes('export') || \n      url.includes('download')\n    ) {\n      try {\n        csvContenido = await response.text();\n      } catch(e) {}\n    }\n  });\n\n\n  // ============================================================\n  // 7. INTENTO DE DESCARGA (DOC → CSV)\n  // ============================================================\n\n  // Intentar descargar DOC primero\n  const docClickado = await page.evaluate(() => {\n    const spans = document.querySelectorAll('span');\n    for (const span of spans) {\n      if (span.textContent.trim() === 'DOC') {\n        const boton = span.closest('button');\n        if (boton) { \n          boton.click(); \n          return true; \n        }\n      }\n    }\n    return false;\n  });\n\n  let descarga = 'DOC';\n\n  if (docClickado) {\n    await new Promise(r => setTimeout(r, 2000));\n\n    // Validar si el DOC no está disponible\n    try {\n      const modalTexto = await page.$eval('.v-dialog--active', el => el.textContent.toLowerCase());\n\n      if (modalTexto.includes('no está disponible')) {\n\n        // Cerrar modal\n        await page.evaluate(() => {\n          const spans = document.querySelectorAll('.v-dialog--active span');\n          for (const span of spans) {\n            if (span.textContent.trim() === 'Volver') { \n              span.closest('button').click(); \n              break; \n            }\n          }\n        });\n\n        await page.waitForSelector('.v-dialog--active', { hidden: true, timeout: 10000 });\n\n        // Fallback a CSV\n        descarga = 'CSV';\n      }\n    } catch(e) {}\n\n  } else {\n    descarga = 'CSV';\n  }\n\n\n  // ============================================================\n  // 8. DESCARGA Y CAPTURA DE CSV\n  // ============================================================\n  if (descarga === 'CSV') {\n\n    // Reintenta hasta 3 veces encontrar el botón\n    for (let i = 0; i < 3; i++) {\n\n      const csvOk = await page.evaluate(() => {\n        const spans = document.querySelectorAll('span');\n\n        for (const span of spans) {\n          if (span.textContent.trim() === 'Descargar CSV') {\n            const boton = span.closest('button');\n\n            // Validar que el botón esté visible\n            if (boton && boton.offsetParent !== null) { \n              boton.click(); \n              return true; \n            }\n          }\n        }\n        return false;\n      });\n\n      if (csvOk) { \n        await new Promise(r => setTimeout(r, 3000));\n        break; \n      }\n\n      await new Promise(r => setTimeout(r, 2000));\n    }\n  }\n\n\n  // ============================================================\n  // 9. RESPUESTA FINAL\n  // ============================================================\n  return {\n    data: {\n      nombre_consultado: '${nombre}',\n      filas_encontradas: resultado.filas,\n      descarga: descarga,\n      csvContenido: csvContenido || 'No se pudo capturar el contenido',\n      status: 'completado'\n    }\n  };\n};\n`;\n\nreturn [{\n  json: {\n    code: codigo,\n    context: {}\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -112
      ],
      "id": "39e85e96-1a69-40fe-9b66-ac9d6b05aeaf",
      "name": "JS Scraping",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://browserless:3000/function",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{ $json.code }}"
            },
            {
              "name": "context",
              "value": "={{ $json.context }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1088,
        -128
      ],
      "id": "944b8543-1d28-415b-944f-f892ce00692d",
      "name": "Headless Browser Runner",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "juanprueba0511@gmail.com",
        "subject": "error",
        "message": "fallo en el scrapyn del Usuario",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        608,
        208
      ],
      "id": "cbb30fa6-27dc-442d-ae97-700d52bea715",
      "name": "Mensaje ERROR: Ejecución de scraping",
      "webhookId": "f6e0d288-c73e-41cd-bee0-7fba3f54af53",
      "credentials": {
        "gmailOAuth2": {
          "id": "9kk6YJLQskh8kToY",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Proceso final  entregra de la solicitud\n\n1. entregra al correo  el documento solcitdo\n2. manejo por última vez los logs del procesos final",
        "height": 1296,
        "width": 736,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2336,
        -608
      ],
      "id": "638df699-1bcd-4a97-b1c4-958872cb3553",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "sendTo": "juanprueba0511@gmail.com",
        "subject": "ERROR  of Document",
        "message": "❌ error in the node of document download",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1904,
        208
      ],
      "id": "95ca29bf-720a-4659-b712-c3bfcdc717d7",
      "name": "Mens. ERROR Gmial: generacion del CSV  o DOC",
      "webhookId": "f6e0d288-c73e-41cd-bee0-7fba3f54af53",
      "credentials": {
        "gmailOAuth2": {
          "id": "9kk6YJLQskh8kToY",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "juanprueba0511@gmail.com",
        "subject": "=[RPA] Detalle Proceso - {{ $('Captura del mensaje consulta_nombre').item.json.snippet }} - {{ $json.fechaHora }}",
        "message": "=Adjunto encontrarás los procesos judiciales de {{ $json.nombre }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "attachment"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2416,
        -288
      ],
      "id": "fbe1b75c-8dba-44e0-8ff7-85beea3934d2",
      "name": "Mens. Gmail: del arcivo PRUBA",
      "webhookId": "10b0782c-9ef3-493c-8d10-428833270be2",
      "credentials": {
        "gmailOAuth2": {
          "id": "9kk6YJLQskh8kToY",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "juanprueba0511@gmail.com",
        "subject": "ERROR  of Document",
        "message": "❌ error in the node of document download",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2768,
        -96
      ],
      "id": "1c89898e-814a-4527-acd6-d20ca9330edc",
      "name": "Mens. ERROR Gmial: envio Doc. al gmail",
      "webhookId": "f6e0d288-c73e-41cd-bee0-7fba3f54af53",
      "credentials": {
        "gmailOAuth2": {
          "id": "9kk6YJLQskh8kToY",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "juanprueba0511@gmail.com",
        "subject": "ERROR  of Document",
        "message": "❌ error in the node of document download",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2784,
        480
      ],
      "id": "ee34c814-c527-4368-aaad-c28a7263a5e2",
      "name": "Mens. ERROR Gmial: envio Doc. al gmail1",
      "webhookId": "f6e0d288-c73e-41cd-bee0-7fba3f54af53",
      "credentials": {
        "gmailOAuth2": {
          "id": "9kk6YJLQskh8kToY",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "juanprueba0511@gmail.com",
        "subject": "ERROR of integration ",
        "message": "❌ Chrome/Chromiun in the node  headless",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1344,
        208
      ],
      "id": "83f2e8b9-c164-43bf-8cd2-2b3b449c4916",
      "name": "Mensaje ERROR Gmial: Headless Browser Runner",
      "webhookId": "f6e0d288-c73e-41cd-bee0-7fba3f54af53",
      "credentials": {
        "gmailOAuth2": {
          "id": "9kk6YJLQskh8kToY",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * ============================================================\n * PROCESO: GENERACIÓN DE ARCHIVO FINAL\n * ============================================================\n * \n * OBJETIVO:\n * - Si llega CSV → convertir a documento Word (.doc) con formato tipo ficha\n * - Si llega DOC/DOCX → enviar archivo original sin modificar\n * \n * CARACTERÍSTICAS:\n * ✔ Manejo de CSV complejo (sep=;, comillas, formato Excel)\n * ✔ No rompe el flujo (manejo de errores)\n * ✔ Formato legible tipo informe\n * ✔ Compatible con Word sin errores\n * \n * ============================================================\n */\n\nlet buffer;\nlet fileName;\nlet mimeType;\n\n// DEFINIDA GLOBAL (ANTES DEL TRY)\nconst ahora = new Date();\n\nconst fechaHora = ahora.toLocaleString('sv-SE', {\n  timeZone: 'America/Bogota',\n}).replace(' ', '_').replace(/:/g, '-');\n\n\ntry {\n\n  // ============================================================\n  // 1. OBTENER Y PARSEAR DATOS DE ENTRADA\n  // ============================================================\n  // Puede venir como string JSON o como objeto\n  let raw = $input.first().json.data;\n\n  let data;\n  try {\n    data = typeof raw === 'string' ? JSON.parse(raw) : raw;\n  } catch (e) {\n    // fallback si el JSON viene mal formado\n    data = raw || {};\n  }\n\n  // ============================================================\n  // 2. DETECTAR TIPO DE ARCHIVO\n  // ============================================================\n  // Si hay csvContenido → es CSV\n  // Si no → se asume DOC/DOCX\n  const tipo = data.tipo || (data.csvContenido ? 'csv' : 'doc');\n\n  // ============================================================\n  // 3. GENERAR FECHA Y HORA (ZONA COLOMBIA)\n  // ============================================================\n  const ahora = new Date();\n  const fechaHora = ahora.toLocaleString('sv-SE', {\n    timeZone: 'America/Bogota',\n  }).replace(' ', '_').replace(/:/g, '-');\n\n  // ============================================================\n  // 4. PROCESAMIENTO SI ES CSV\n  // ============================================================\n  if (tipo === 'csv') {\n\n    /**\n     * PROBLEMAS QUE RESUELVE ESTE BLOQUE:\n     * - CSV con \"sep=;\" (formato Excel)\n     * - CSV con datos entre comillas\n     * - Valores tipo =\"12345\"\n     * - Líneas mal separadas\n     */\n\n    let csv = (data.csvContenido || '')\n      .replace(/\\u0000/g, '') // eliminar caracteres invisibles\n      .trim();\n\n    // normalizar saltos de línea\n    csv = csv.replace(/\\r/g, '');\n\n    // asegurar que sep=; esté separado\n    csv = csv.replace('sep=;', 'sep=;\\n');\n\n    const lineas = csv.split('\\n').filter(Boolean);\n\n    let separador = ';';\n    let startIndex = 0;\n\n    // detectar separador dinámico\n    if (lineas[0].startsWith('sep=')) {\n      separador = lineas[0].split('=')[1] || ';';\n      startIndex = 1;\n    }\n\n    // ============================================================\n    // 4.1 EXTRAER HEADERS\n    // ============================================================\n    const headers = (lineas[startIndex] || '')\n      .split(separador)\n      .map(h => h.trim())\n      .filter(Boolean);\n\n    // ============================================================\n    // 4.2 EXTRAER FILA DE DATOS\n    // ============================================================\n    const dataLinea = lineas[startIndex + 1] || '';\n\n    /**\n     * Parser personalizado:\n     * - Respeta texto entre comillas\n     * - No rompe cuando hay ; dentro del texto\n     */\n    function parseFila(fila) {\n\n      let valores = [];\n      let actual = '';\n      let dentroComillas = false;\n\n      for (let i = 0; i < fila.length; i++) {\n        const char = fila[i];\n\n        if (char === '\"') {\n          dentroComillas = !dentroComillas;\n          continue;\n        }\n\n        if (char === separador && !dentroComillas) {\n          valores.push(actual.trim());\n          actual = '';\n        } else {\n          actual += char;\n        }\n      }\n\n      valores.push(actual.trim());\n\n      // limpiar formato Excel =\"valor\"\n      return valores.map(v =>\n        v.replace(/^=/, '').trim()\n      );\n    }\n\n    const columnas = parseFila(dataLinea);\n\n    // ============================================================\n    // 4.3 GENERAR TABLA TIPO FICHA\n    // ============================================================\n    const tbody = headers.map((header, i) => `\n      <tr>\n        <td style=\"background:#2b436b;color:white;font-weight:bold;width:30%;\">\n          ${header}\n        </td>\n        <td style=\"width:70%;\">\n          ${columnas[i] || ''}\n        </td>\n      </tr>\n    `).join('');\n\n    // ============================================================\n    // 4.4 GENERAR HTML COMPATIBLE CON WORD\n    // ============================================================\n    const html = `\n    <html>\n      <head><meta charset=\"UTF-8\"></head>\n      <body style=\"font-family:Calibri; margin:25px;\">\n\n        <h2 style=\"background:#d9d9d9;padding:8px;\">Resultados de consulta</h2>\n\n        <p><b>Nombre:</b> ${data.nombre_consultado || 'N/A'}</p>\n        <p><b>Fecha de la consulta:</b> ${fechaHora}</p>\n\n        <table border=\"1\" cellspacing=\"0\" cellpadding=\"6\" style=\"width:100%;border-collapse:collapse;\">\n          ${tbody}\n        </table>\n\n      </body>\n    </html>\n    `;\n\n    buffer = Buffer.from(html, 'utf-8');\n\n    fileName = `procesos_${(data.nombre_consultado || 'sin_nombre').replace(/ /g, '_')}_${fechaHora}.doc`;\n\n    mimeType = 'application/msword';\n  }\n\n  // ============================================================\n  // 5. SI ES DOC O DOCX → SE ENVÍA ORIGINAL\n  // ============================================================\n  else {\n\n    /**\n     * No se transforma el archivo\n     * Solo se reconstruye desde base64\n     */\n    buffer = Buffer.from(data.fileBase64 || '', 'base64');\n\n    const extension = tipo === 'docx' ? 'docx' : 'doc';\n\n    fileName = `procesos_${(data.nombre_consultado || 'sin_nombre').replace(/ /g, '_')}_${fechaHora}.${extension}`;\n\n    mimeType = tipo === 'docx'\n      ? 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'\n      : 'application/msword';\n  }\n\n} catch (error) {\n\n  // ============================================================\n  // 6. MANEJO DE ERRORES (NO ROMPE FLUJO)\n  // ============================================================\n  const htmlError = `\n  <html>\n    <body>\n      <h2>Error en procesamiento</h2>\n      <pre>${error.message}</pre>\n    </body>\n  </html>\n  `;\n\n  buffer = Buffer.from(htmlError, 'utf-8');\n  fileName = `error.doc`;\n  mimeType = 'application/msword';\n}\n\n// ============================================================\n// 7. PREPARAR ARCHIVO BINARIO PARA SALIDA\n// ============================================================\nconst binaryData = await this.helpers.prepareBinaryData(\n  buffer,\n  fileName,\n  mimeType\n);\n\n// ============================================================\n// 8. RESPUESTA FINAL\n// ============================================================\nreturn [{\n  json: {\n    fileName,\n    fechaHora\n  },\n  binary: {\n    attachment: binaryData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        -144
      ],
      "id": "e358a69b-b24d-4f05-998f-764233c95ff1",
      "name": "Tranformar  docuento Binario  si CSV  a doc con HTML o si viene DOC mandarlo",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "sladinog@tcc.com.co",
        "subject": "=[RPA] Detalle Proceso - {{ $('Captura del mensaje consulta_nombre').item.json.snippet }} - {{ $json.fechaHora }}",
        "message": "=Adjunto encontrarás los procesos judiciales de {{ $json.nombre }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "attachment"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2480,
        224
      ],
      "id": "92426beb-1147-4e41-a73f-508ae791e543",
      "name": "Mens. Gmail: del arcivo PRUBA1",
      "webhookId": "10b0782c-9ef3-493c-8d10-428833270be2",
      "credentials": {
        "gmailOAuth2": {
          "id": "9kk6YJLQskh8kToY",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const log = {\n  timestamp: new Date().toISOString(),\n  step: \"Consulta Judicial\",\n  status: $json.error ? \"error\" : \"success\",\n  message: $json.error ? \"Falló la consulta\" : \"Consulta ejecutada\",\n  nombre: $json.nombre || \"NODO PROCEZAMIENTO SCRAPING\",\n  error_stack: $json.error?.stack || null\n};\n\nreturn [{\n  json: { log }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -32
      ],
      "id": "d988b9d7-d5ee-4530-8514-8ac0e7ce548d",
      "name": "logs"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO logs (timestamp, step, status, message)\nVALUES (\n  '{{$json.log.timestamp}}',\n  '{{$json.log.step}}',\n  '{{$json.log.status}}',\n  '{{$json.log.message}}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        784,
        -32
      ],
      "id": "90953636-a2b5-4e0f-9f27-0bb0c5e0423f",
      "name": "SQL guardar logs de Incio1",
      "credentials": {
        "postgres": {
          "id": "aaW6G67VHp6GyFp5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const log = {\n  timestamp: new Date().toISOString(),\n  step: \"Consulta Judicial\",\n  status: $json.error ? \"error\" : \"success\",\n  message: $json.error ? \"Falló la consulta\" : \"Consulta ejecutada\",\n  nombre: $json.nombre || \"NODO INTEGRACION HTTP\",\n  error_stack: $json.error?.stack || null\n};\n\nreturn [{\n  json: { log }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        -32
      ],
      "id": "a1f5639f-452d-4720-a17c-8b91ae09eeab",
      "name": "logs3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO logs (timestamp, step, status, message)\nVALUES (\n  '{{$json.log.timestamp}}',\n  '{{$json.log.step}}',\n  '{{$json.log.status}}',\n  '{{$json.log.message}}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1504,
        -32
      ],
      "id": "1f6b2d50-67f1-4537-a47e-decd21498154",
      "name": "SQL guardar logs de Incio2",
      "credentials": {
        "postgres": {
          "id": "aaW6G67VHp6GyFp5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const log = {\n  timestamp: new Date().toISOString(),\n  step: \"Consulta Judicial\",\n  status: $json.error ? \"error\" : \"success\",\n  message: $json.error ? \"Falló la consulta\" : \"Consulta ejecutada\",\n  nombre: $json.nombre || \"PROCESO NODO JS TRAFORMACIO DEL ACHIVO\",\n  error_stack: $json.error?.stack || null\n};\n\nreturn [{\n  json: { log }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        48
      ],
      "id": "191467dc-5113-434e-8ce2-523818538089",
      "name": "logs4"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO logs (timestamp, step, status, message)\nVALUES (\n  '{{$json.log.timestamp}}',\n  '{{$json.log.step}}',\n  '{{$json.log.status}}',\n  '{{$json.log.message}}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2160,
        48
      ],
      "id": "671112ab-d1ac-4010-8cc5-d20a0a270f08",
      "name": "SQL guardar logs de Incio3",
      "credentials": {
        "postgres": {
          "id": "aaW6G67VHp6GyFp5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const log = {\n  timestamp: new Date().toISOString(),\n  step: \"Consulta Judicial\",\n  status: $json.error ? \"error\" : \"success\",\n  message: $json.error ? \"Falló la consulta\" : \"Consulta ejecutada\",\n  nombre: $json.nombre || \"FINALIZACION DEL PROCESO NODO GMAIL\",\n  error_stack: $json.error?.stack || null\n};\n\nreturn [{\n  json: { log }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        -272
      ],
      "id": "4513b998-ad19-4a0b-a9f6-bc026fb7ef2f",
      "name": "logs5"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO logs (timestamp, step, status, message)\nVALUES (\n  '{{$json.log.timestamp}}',\n  '{{$json.log.step}}',\n  '{{$json.log.status}}',\n  '{{$json.log.message}}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2896,
        -272
      ],
      "id": "81372af6-21f1-4ef1-8506-03d44c937118",
      "name": "SQL guardar logs de Incio4",
      "credentials": {
        "postgres": {
          "id": "aaW6G67VHp6GyFp5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const log = {\n  timestamp: new Date().toISOString(),\n  step: \"Consulta Judicial\",\n  status: $json.error ? \"error\" : \"success\",\n  message: $json.error ? \"Falló la consulta\" : \"Consulta ejecutada\",\n  nombre: $json.nombre || \"FINALIZACION DEL PROCESO NODO GMAIL\",\n  error_stack: $json.error?.stack || null\n};\n\nreturn [{\n  json: { log }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        -464
      ],
      "id": "6eed1863-9c58-4ad7-8266-9931499d244b",
      "name": "logs6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO logs (timestamp, step, status, message)\nVALUES (\n  '{{$json.log.timestamp}}',\n  '{{$json.log.step}}',\n  '{{$json.log.status}}',\n  '{{$json.log.message}}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2848,
        -464
      ],
      "id": "3d5ee8f3-f36a-49db-8f49-5bcb6ca44849",
      "name": "SQL guardar logs de Incio5",
      "credentials": {
        "postgres": {
          "id": "aaW6G67VHp6GyFp5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const log = {\n  timestamp: new Date().toISOString(),\n  step: \"Consulta Judicial\",\n  status: $json.error ? \"error\" : \"success\",\n  message: $json.error ? \"Falló la consulta\" : \"Consulta ejecutada\",\n  nombre: $json.nombre || \"FINALIZACION DEL PROCESO NODO GMAIL\",\n  error_stack: $json.error?.stack || null\n};\n\nreturn [{\n  json: { log }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        112
      ],
      "id": "b76ea5a5-7f93-4e85-9c04-fde410771b50",
      "name": "logs7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO logs (timestamp, step, status, message)\nVALUES (\n  '{{$json.log.timestamp}}',\n  '{{$json.log.step}}',\n  '{{$json.log.status}}',\n  '{{$json.log.message}}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2864,
        112
      ],
      "id": "287ce335-c8e7-454e-990b-6003a24b62b0",
      "name": "SQL guardar logs de Incio6",
      "credentials": {
        "postgres": {
          "id": "aaW6G67VHp6GyFp5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const log = {\n  timestamp: new Date().toISOString(),\n  step: \"Consulta Judicial\",\n  status: $json.error ? \"error\" : \"success\",\n  message: $json.error ? \"Falló la consulta\" : \"Consulta ejecutada\",\n  nombre: $json.nombre || \"FINALIZACION DEL PROCESO NODO GMAIL\",\n  error_stack: $json.error?.stack || null\n};\n\nreturn [{\n  json: { log }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        304
      ],
      "id": "5e087006-e5e9-4490-9bc7-84da7f579c94",
      "name": "logs8"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO logs (timestamp, step, status, message)\nVALUES (\n  '{{$json.log.timestamp}}',\n  '{{$json.log.step}}',\n  '{{$json.log.status}}',\n  '{{$json.log.message}}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2880,
        304
      ],
      "id": "b6b00131-2411-431d-8304-a307c5a4f9ad",
      "name": "SQL guardar logs de Incio7",
      "credentials": {
        "postgres": {
          "id": "aaW6G67VHp6GyFp5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const log = {\n  timestamp: new Date().toISOString(),\n  step: \"Consulta Judicial\",\n  status: $json.error ? \"error\" : \"success\",\n  message: $json.error ? \"Falló la consulta\" : \"Consulta ejecutada\",\n  nombre: $json.nombre || \"PROCESO NODO JS TRAFORMACIO DEL ACHIVO\",\n  error_stack: $json.error?.stack || null\n};\n\nreturn [{\n  json: { log }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        -368
      ],
      "id": "db87008a-63c5-4996-a1ce-d34a54bd9c27",
      "name": "logs9"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO logs (timestamp, step, status, message)\nVALUES (\n  '{{$json.log.timestamp}}',\n  '{{$json.log.step}}',\n  '{{$json.log.status}}',\n  '{{$json.log.message}}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2128,
        -368
      ],
      "id": "c799b12c-7ccd-401e-91ea-e6a6841ad033",
      "name": "SQL guardar logs de Incio8",
      "credentials": {
        "postgres": {
          "id": "aaW6G67VHp6GyFp5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const log = {\n  timestamp: new Date().toISOString(),\n  step: \"Consulta Judicial\",\n  status: $json.error ? \"error\" : \"success\",\n  message: $json.error ? \"Falló la consulta\" : \"Consulta ejecutada\",\n  nombre: $json.nombre || \"NODO INTEGRACION HTTP\",\n  error_stack: $json.error?.stack || null\n};\n\nreturn [{\n  json: { log }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        -256
      ],
      "id": "c8145171-e918-4a49-9fd4-6d6b135b2b0c",
      "name": "logs10"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO logs (timestamp, step, status, message)\nVALUES (\n  '{{$json.log.timestamp}}',\n  '{{$json.log.step}}',\n  '{{$json.log.status}}',\n  '{{$json.log.message}}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1520,
        -256
      ],
      "id": "d597d4bd-d140-4e01-9b44-ea8b28308222",
      "name": "SQL guardar logs de Incio9",
      "credentials": {
        "postgres": {
          "id": "aaW6G67VHp6GyFp5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const log = {\n  timestamp: new Date().toISOString(),\n  step: \"Consulta Judicial\",\n  status: $json.error ? \"error\" : \"success\",\n  message: $json.error ? \"Falló la consulta\" : \"Consulta ejecutada\",\n  nombre: $json.nombre || \"NODO PROCEZAMIENTO SCRAPING\",\n  error_stack: $json.error?.stack || null\n};\n\nreturn [{\n  json: { log }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -240
      ],
      "id": "a179d8aa-26b8-4a05-9be1-deaf33e9faae",
      "name": "logs11"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO logs (timestamp, step, status, message)\nVALUES (\n  '{{$json.log.timestamp}}',\n  '{{$json.log.step}}',\n  '{{$json.log.status}}',\n  '{{$json.log.message}}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        784,
        -240
      ],
      "id": "3187054e-fbf5-4441-afec-40b840de2978",
      "name": "SQL guardar logs de Incio10",
      "credentials": {
        "postgres": {
          "id": "aaW6G67VHp6GyFp5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const log = {\n  timestamp: new Date().toISOString(),\n  step: \"Consulta Judicial\",\n  status: $json.error ? \"error\" : \"success\",\n  message: $json.error ? \"Falló la consulta\" : \"Consulta ejecutada\",\n  nombre: $json.nombre || \"NODO DE INICIO PROCESAMIENTO INICIAL DEL GMAIL Y TIGGER\",\n  error_stack: $json.error?.stack || null\n};\n\nreturn [{\n  json: { log }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -224
      ],
      "id": "bb97d5b9-8237-4881-9773-2804b6e35a49",
      "name": "logs2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO logs (timestamp, step, status, message)\nVALUES (\n  '{{$json.log.timestamp}}',\n  '{{$json.log.step}}',\n  '{{$json.log.status}}',\n  '{{$json.log.message}}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        176,
        -224
      ],
      "id": "f215ae12-c687-454f-80ea-88e6c682f614",
      "name": "SQL guardar logs de Incio11",
      "credentials": {
        "postgres": {
          "id": "aaW6G67VHp6GyFp5",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Captura del mensaje consulta_nombre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "logs1": {
      "main": [
        [
          {
            "node": "SQL guardar logs de Incio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecución programada  6:35 AM de todos los diás": {
      "main": [
        [
          {
            "node": "Captura del mensaje consulta_nombre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captura del mensaje consulta_nombre": {
      "main": [
        [
          {
            "node": "JS Scraping",
            "type": "main",
            "index": 0
          },
          {
            "node": "logs2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje de ERROR: nodo extracción de nombre",
            "type": "main",
            "index": 0
          },
          {
            "node": "logs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JS Scraping": {
      "main": [
        [
          {
            "node": "Headless Browser Runner",
            "type": "main",
            "index": 0
          },
          {
            "node": "logs11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje ERROR: Ejecución de scraping",
            "type": "main",
            "index": 0
          },
          {
            "node": "logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Headless Browser Runner": {
      "main": [
        [
          {
            "node": "Tranformar  docuento Binario  si CSV  a doc con HTML o si viene DOC mandarlo",
            "type": "main",
            "index": 0
          },
          {
            "node": "logs10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje ERROR Gmial: Headless Browser Runner",
            "type": "main",
            "index": 0
          },
          {
            "node": "logs3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mens. Gmail: del arcivo PRUBA": {
      "main": [
        [
          {
            "node": "logs6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mens. ERROR Gmial: envio Doc. al gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "logs5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tranformar  docuento Binario  si CSV  a doc con HTML o si viene DOC mandarlo": {
      "main": [
        [
          {
            "node": "Mens. Gmail: del arcivo PRUBA",
            "type": "main",
            "index": 0
          },
          {
            "node": "logs9",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mens. Gmail: del arcivo PRUBA1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mens. ERROR Gmial: generacion del CSV  o DOC",
            "type": "main",
            "index": 0
          },
          {
            "node": "logs4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mens. Gmail: del arcivo PRUBA1": {
      "main": [
        [
          {
            "node": "logs7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mens. ERROR Gmial: envio Doc. al gmail1",
            "type": "main",
            "index": 0
          },
          {
            "node": "logs8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "logs": {
      "main": [
        [
          {
            "node": "SQL guardar logs de Incio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "logs3": {
      "main": [
        [
          {
            "node": "SQL guardar logs de Incio2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "logs4": {
      "main": [
        [
          {
            "node": "SQL guardar logs de Incio3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "logs5": {
      "main": [
        [
          {
            "node": "SQL guardar logs de Incio4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "logs6": {
      "main": [
        [
          {
            "node": "SQL guardar logs de Incio5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "logs7": {
      "main": [
        [
          {
            "node": "SQL guardar logs de Incio6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "logs8": {
      "main": [
        [
          {
            "node": "SQL guardar logs de Incio7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "logs9": {
      "main": [
        [
          {
            "node": "SQL guardar logs de Incio8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "logs10": {
      "main": [
        [
          {
            "node": "SQL guardar logs de Incio9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "logs11": {
      "main": [
        [
          {
            "node": "SQL guardar logs de Incio10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "logs2": {
      "main": [
        [
          {
            "node": "SQL guardar logs de Incio11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9b32731c-c2dc-4068-b765-57cbeea613ba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ffda0daa83fa6967b47e989b38cc1cf3f2e3cec3f1b4e7655be7d05155bf5843"
  },
  "id": "U6zT0xFw7URyU9Aa",
  "tags": []
}